@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #628B48;
}

.container {
    margin: 30px;
    padding: 20px;
    border: 2px solid;
    height: 230px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
}
.container input {
    border: 0px;
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    background-color: transparent;
}
.container button{
    width: 100%;
    background-color: transparent;
    transition: all .4s;
    cursor: pointer;
}
.container button:hover {
    letter-spacing: 5px;
    background-color: aqua;
}
.container .success {
    color: greenyellow;
    display: none;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
.container .wrong {
    color: red;
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
}
.container a {
    text-decoration: none;
    text-align: center;
    width: 100%;
}
.container a:hover {
    text-decoration: underline;
}
form {
    max-width: 278px;
}